:root {
  --background: #8d8d8d;
  --second-layer: #efefef;
  --input: rgb(255, 255, 255);
  --buttonClr: rgb(0, 0, 0);
}

body {
  margin: 3vh 0 0 3.5vw;
  background-color: var(--background);
}

main {
  display: flex;
  gap: 3vw;
}

h3 {
  border-bottom: 0.5px solid black;
}

.bold {
  font-weight: bold;
}

input {
  border: none;
  box-shadow: 1px 2px black;
  background-color: var(--input);
}

textarea {
  height: 6vh;
  resize: vertical;
}

button {
  background-color: var(--buttonClr);
  color: white;
  width: 100%;
  margin-top: 0.5vh;
}

.userInput {
  background-color: var(--second-layer);
  box-shadow: 3px 3px 5px rgb(28, 28, 28);
  padding: 2vh;
}

.personal-information,
.exp,
.edu {
  width: 35vw;
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}

.preview {
  background-color: var(--second-layer);
  box-shadow: 3px 3px 5px rgb(28, 28, 28);
  margin-left: 7.5vw;
  margin-right: 7.5vw;
  padding: 2vh;
}

.main-body {
  display: flex;
  gap: 2.5vw;
}

.left-side {
  width: 25vw;
}

.experience-prev,
.education-prev {
  display: flex;
}

.experience-left {
  width: 8.5vw;
}

.education-left {
  width: 12vw;
}
