/* body {
  overflow-y: hidden;
  overflow-x: hidden;
} */

button {
  width: 25%;
}

main {
  margin-top: 3.5vh;
  margin-left: 5vw;
  display: flex;
}

.bold {
  font-weight: bold;
}

.userInput {
  display: flex;
  flex-direction: column;
}

.personal-information,
.experience,
.education {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}

h3 {
  border-bottom: 1px solid black;
}

h4 {
  margin-bottom: 0.5vh;
}

input {
  width: 30vw;
}

textarea {
  height: 10vh;
  width: 30vw;
  resize: vertical;
}

.preview {
  padding-left: 2vw;
  padding-right: 2vw;
}

.main-body {
  display: flex;
  gap: 2vw;
}

.experience-prev,
.education-prev {
  display: flex;
  gap: 3.5vw;
}
